.button {
  display: flex;
	justify-content: center;
  align-items: center;
	font-size: 1.6rem;
  background-color: #5865F2;

  padding: 0.5em 1em;
	border-radius: 999em;

  color: var(--text-color);
}
.button:hover {
  color: white;
  background-color: #7983f5;
}
