.button {
  display: flex;
  gap: 0.25rem;

  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 0;

  background: pink;
  color: black;
  border: 1px solid black;
  font-size: 1.1rem;
  border-radius: 0.5rem;
  padding-inline: 0.5em;
}
.button:hover {
  background: #ff7b7b;
  color: white;
}

.flag {
  width: 1.2rem;
}
