.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.centeredText {
  text-align: center;
}

.homeLink {
  margin-block-start: 1rem;
}
