.container {
  display: grid;
  place-content: center;
  min-height: 100vh;
  margin: 1rem;
}

.event {
  display: grid;
  max-width: 60ch;
}

.event > h1 {
  text-align: center;
  text-decoration: underline;
  text-decoration-color: var(--main-color);
  margin-bottom: 1rem;
}

.metadata {
  display: grid;
  place-content: stretch;
  grid-template-columns: auto 1fr;
  gap: 0.75rem;
  align-items: center;
  font-weight: 100;
  color: var(--light-text-color);
}
.metadata > *:hover {
  color: var(--light-text-color);
}

.description {
  margin-top: 1rem;
  white-space: pre-wrap;
}
